.App-body {
  padding: 40px;
}

.App-body p, .App-body label {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

form label, form input {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

form input {
  border: 1px solid #ccc;
}

form button {
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
}
